@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);

.jumbotron-1 {
    background-image: url('main-bg.jpg');
    background-size: cover;
    height: 820px;
    text-align: center;
    margin-top: -120px;
    padding: 250px;
}

.jumbotron-1 .display-4 {
    color: white;
    margin-top: 100px;
}

.jumbotron-1 .line-2 {
    color: white;
}

.jumbotron-2 {
    background-image: url('the-games-bg.jpg');
    background-size: cover;
    height: 800px;
    text-align: left;
    padding: 100px;
}

.carousel {
    height: 200px;
    margin-left: 100px;
}

.jumbotron-2 .display-5 {
    color: white;
    margin-top: initial;
}

.jumbotron-2 .lead-2 {
    color: white;

}

.box {
    position: absolute;
    left: 25%;
    margin-left: 25px;
}

.jumbotron-3 {
    background-image: url(features.jpg);
    background-size: cover;
    height: 800px;
    text-align: right;
    padding-right: 400px;
    padding-top: 200px;
}

.display-6 {
    color: white;
    font-size: 30px;
}

.lead-3 {
    color: white;
    font-size: 70px;
}

.container-j-3 {
    color: white;
}

.page-3 {
    color: orange;
}

.container-j-4 {
    background-image: url(requirements.png);
    background-size: cover;
    height: 900px;
    padding-right: 400px;
    padding-top: 200px;
    text-align: center;
    width: 100%;
}

.jumbotron-7-4 {
    background-image: url(top-score-bg.png);
    background-size: cover;
    height: 800px;
    padding-top: 200px;
    margin-top: -120px;
    text-align: left;
    color: orange;
}

.text-button {
    margin-top: 100px;
    margin-left: 100px;
    padding: 4rem;
}

.box-7 {
    width: 400px;
    margin-left: 850px;
    margin-top: -350px;
    margin-bottom: 300px;
    margin-right: 400px;

}
.jumbotron-8 {
    background-image: url(top-score-bg.png);
    background-size: cover;
    /* height: 800px; */
    text-align: right;
    /* padding-right: 400px; */
    /* padding top: 300px; */
}
.container-8 {
    color: white;
}
.gambar-8 {
    width: 400px;
    margin-left: 300px;
    margin-top: -250px;
    margin-bottom: 300px;
    margin-right: 700px;
}
