:root {
    --default-padding   : 20px;
    --max-width         : 800px;
    --background-color  : #9d8362;
    --default-transition: all 0.5s ease-in-out;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
}

html {
    font-family     : sans-serif;
    text-transform  : uppercase;
    background-color: var(--background-color);
}

.container {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    padding       : var(--default-padding);
    color         : white;
    overflow      : hidden;
}

.container__content {
    display       : flex;
    align-items   : center;
    flex          : 1;
    flex-direction: column;
    max-width     : var(--max-width);
    width         : 100%;
}

.header {
    display    : flex;
    align-items: center;
    font-size  : 2rem;
    gap        : 25px;
    padding    : var(--default-padding);
}

.header__back {
    text-decoration: none;
    color          : #402914;
    font-weight    : bold;
}

.header__logo {
    max-width: 50px;
}

.header__title {
    color: #f2b355;
}

.game {
    display: flex;
    gap    : 150px;
}

.game__separator {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
}

.game__vs {
    font-size  : 100px;
    font-weight: bold;
    color      : #c30308;
    opacity    : 0;
    transition : var(--default-transition);
}

.game__vs.show {
    opacity: 100%;
}

.game__result {
    height     : 100px;
    display    : grid;
    align-items: center;

    background-color: #409759;
    width           : max-content;
    min-width       : 180px;
    height          : 100px;
    display         : grid;
    align-items     : center;
    font-size       : 2rem;
    position        : absolute;
    text-align      : center;
    color           : white;
    padding         : var(--default-padding);
    transform       : rotate(0) scale(0);
    transition      : var(--default-transition);
}

.game__result.show {
    transform: rotate(-35deg) scale(1);
}

.player {
    display       : flex;
    flex-direction: column;
    text-align    : center;
    font-size     : 1.8rem;
    font-weight   : bold;
    color         : black;
    gap           : 15px;
}

.player__choices {
    display       : flex;
    flex-direction: column;
    gap           : 30px;
}

.player__choices div {
    display        : flex;
    justify-content: center;
    align-items    : center;
    border-radius  : 1rem;
    min-height     : 150px;
    min-width      : 170px;
    padding        : 1rem;
    transition     : var(--default-transition);
}

.player__choices div.selected {
    background-color: #c4c4c4;
}

.player__choices.human div img {
    cursor    : pointer;
    transition: var(--default-transition);
}

.player__choices.human:has(div.selected) div:hover img {
    cursor: not-allowed;
    ;
}

.player__choices.human:not(:has(div.selected)) div:hover img {
    transform: rotate(15deg);
}

.player__choices.com {
    cursor: not-allowed;
}

.restart {
    display   : none;
    cursor    : pointer;
    transition: var(--default-transition);
}

.restart.show {
    display: block;
}

.restart:hover {
    transform          : rotate(-360deg) scale(1.1);
    animation-fill-mode: none;
}

@media (max-width: 800px) {
    .game {
        flex-direction: column;
        gap           : 50px;
    }

    .player__choices {
        flex-direction: row;
    }

    .player div {
        min-height: 100px;
        min-width : 110px;
    }
}
